body {
  font-family: 'Roboto Condensed', sans-serif;
}
.App {
  text-align: center;
  background-color: #b9fde0;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.desc-container {
  background-color: skyblue;
  width: 40%;
}

.parent-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.intro-container {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  width: 40%;
  z-index: 2;
}

.inner-intro {
  padding: 10px;
  background-color: white;
  border-radius: 2px;
  padding-bottom: 20px;

}

.title {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 3px;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
}

.landing-container {
  right: 0;
  /* background-color: red; */
  width: 58%;
  max-width: 869px;
  position:relative;
  /* visibility: hidden; */
  /* position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #b9fde0;
  background-size: 1000px 1000px;
  background-image: url('./_assets/boy4.svg');
  background-repeat: no-repeat;
  background-position: 900px center;
  background-attachment: fixed; */
}

.airpod {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  position: absolute;
  width: 6%;
  height: 18%;
  max-height: 150px;
  top: 24em;
  left: 12em;
  cursor: pointer;
}

.boy-image {
  height: 40em;
  width: 50em;
}

.button-container {
  width: 200px;
  margin: 0 auto;
}

.pb-button {
  color: #06cc77 !important;
}

.pb-button span {
  font-weight: 400 !important;
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
